* {margin: 0; padding: 0; }
h1 {
    font: 37px 'Cantarell', Verdana, Arial, serif;
    text-align: center;
    margin: 4px 0; 
}
#countries {
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    background: #fafafa url(silver.svg) repeat-x;
    background-size: 100% 100%;
    background: -moz-linear-gradient(bottom, #cccccc, #fafafa);
    background: -webkit-gradient(linear, left bottom, left top, from(#cccccc), to(#fafafa)); 
    box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    display: inline-block;
    padding: 0 22px
    }
    #countries a {
        display: inline-block;
        padding: 6px 5px 4px 25px;
        background-position: 6px 6px;
        border-left: 1px solid silver;
        background-repeat: no-repeat;
        font: bold 11px Arial;
        text-decoration: none;
        color: #666;
        }
        #countries a:hover{
            color: #333;
            text-decoration: underline;
        }
        #countries a:last-child {
            border-right: 1px solid silver;
        }

#container {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

#highchart {
    height: 500px;
}

#about {
    width: 700px; margin: 25px auto 0;
    }
    p { margin: 0 0 20px 0; font: 12px  Verdana, Arial, sans-serif;}
    p.fine { font-size: 11px; opacity: 0.7;}
    p.fine:hover {opacity: 1}
    p.me a {font-weight: bold;}

#social .twitter-share-button {height: 47px !important; margin-top: 3px; margin-right: 50px}
